body {
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fafafa;
  counter-reset: ranking-number;
}

.marker-yellow {
  background: linear-gradient(transparent 60%, #ffff8e 0);
}

strong {
  font-weight: bold !important;
}

/* ページ上部にスクロール */
.pagetop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.pagetop.is-show {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .pagetop {
    right: 16px;
    bottom: 30px;
    width: 76px;
    height: 76px;
  }
}
@media screen and (min-width: 768px) {
  .pagetop img {
    width: 76px;
  }
}
