/* footer */
.footer {
  background: #bbb;
}

.link-lists {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-by-type-list {
  display: flex;
  gap: 30px;
  /* height: 40px; */
}

.other-page-list {
  display: flex;
  gap: 30px;
  /* height: 40px; */
}

.information-list {
  display: flex;
  gap: 30px;
  /* height: 40px; */
}

.footer-button-lists {
  display: flex;
  gap: 30px;
}

.footer-button-lists a {
  transition: all 0.4s;
}

.footer-button-lists a:hover {
  opacity: 0.4;
}

.footer-button-lists {
  margin: 15px 0;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 768px) {
  .search-by-type-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
  }
  .other-page-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
  }

  .information-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
  }
}
