/* navigation area */
.header {
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 3;
  background: #fff;
}

.navigation {
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 769px) {
  .navigation {
    height: 70px;
    align-items: center;
  }
}

.navigation a {
  transition: all 0.4s;
}

.navigation a:hover {
  opacity: 0.4;
}

.contents {
  display: grid;
  grid-template: "root-links main-links sub-links" 100% / auto 1fr auto;
  max-width: 1070px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .navigation {
    max-height: 120px;
  }
  .contents {
    grid-template: "root-links sub-links" 44px "main-links main-links" 44px / auto 1fr;
    gap: 0 20px;
  }
  .root-link-area {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: root-links;
  }
  .main-link-area {
    grid-row: 3;
    grid-column: 1;
    grid-area: main-links;
    display: flex;
    height: 100%;
    /* justify-content: space-between; */
  }

  .sub-links-area {
    display: flex;
    height: 100%;
    grid-area: sub-links;
    justify-self: right;
  }
}

.root-link-area {
  /* width: 160px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  grid-area: root-links;
  padding: 0 12px;
}

.main-link-area {
  grid-row: 1;
  grid-column: 3;
  grid-area: main-links;
  display: flex;
  height: 100%;
}

.main-link {
  padding: 0 12px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sub-links-area {
  display: flex;
  height: 100%;
  grid-area: sub-links;
  gap: 12px;
}

.sub-link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* nav submenu */
.categorys {
  height: 40px;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: auto;
}

.categorys-wrap {
  max-width: 1170px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.category {
  display: flex;
  justify-content: space-between;
}

.category-link {
  padding: 0 12px;
}
